<!DOCTYPE html>
<html>
<head>
  <title>StimulusFormvalidation</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-controller-name="<%= controller_path %>" data-ctrlr-action="<%= action_name %>">
<div class="container-fluid">
  <%= yield(:controller) %>
</div>
</body>
</html>
