<!DOCTYPE html>
<html>
<head>
  <title>StimulusFormvalidation</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body data-controller-name="<%= controller_path %>" data-ctrlr-action="<%= action_name %>">
<div class="container-fluid">
  <%= yield(:controller) %>
</div>
</body>
</html>
